/**
 * Application styles
 */
@import '~@bryntum/demo-resources/scss/example.scss';
@import './fonts/variables';
@import './fonts/mixins';
@import './fonts/core';
@import './fonts/larger';
@import './fonts/fixed-width';
@import './fonts/list';
@import './fonts/bordered-pulled';
@import './fonts/animated';
@import './fonts/rotated-flipped';
@import './fonts/stacked';
@import './fonts/icons';
@import './fonts/screen-reader';


.striped {
    background: repeating-linear-gradient(
        -45deg,
        rgba(230, 230, 230, 0.3),
        rgba(230, 230, 230, 0.3) 10px,
        rgba(240, 240, 240, 0.3) 5px,
        rgba(240, 240, 240, 0.3) 20px
    );
}

.selected-event {
    margin-right: 1em;
    label {
        opacity: 0.7;
    }
    span {
        font-weight: 400;
    }
}

.eventToolTip {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: flex-start;

}

.b-theme-stockholm {
    .selected-event {
        text-transform: uppercase;
    }
}

// fixes styling bug
.b-theme-stockholm .b-has-label label {
    color: #4f5964;
}

.b-theme-classic .b-has-label label {
    color: #e6e6e6;
}

.b-theme-classic-light .b-has-label label {
    color: #616161;
}

.b-theme-classic-dark .b-has-label label {
    color: #c0c1c2;
}

.b-theme-classic-material .b-has-label label {
    color: #616161;
}

// Custom css for grid
.b-scheduler-3 {
    // height: 100%;
    flex-grow: 1;
}
.b-sch-event-content {
    color: #444444!important;
}

.b-sch-nonworkingtime {
    // background-color: rgba(255, 136, 0, 0.5)!important;
    background-color: rgba(197, 197, 197, 0.5)!important;
     z-index: 5;
}
.b-sch-event-wrap {
    z-index: auto;
}

.b-column-line {
    border-color: rgb(182, 182, 182);
}
.b-column-line-major {
     border-color: rgb(182, 182, 182);
}
.b-sch-header-timeaxis-cell {
    border-right: 1px solid rgb(182, 182, 182);
}
.b-grid-row {
border-bottom: 1px solid rgb(182, 182, 182);
}

.b-grid-header-container {
    border-bottom: 1px solid rgb(182, 182, 182);
}
// .b-sch-style-plain  {
// max-height: 30px;
// }

.eventWrapper
{
    border: dotted 2px rgb(255, 0, 0);
    
    box-sizing: border-box;
    // z-index: 6;
}

.eventStyle {
   z-index: 6;
    
}

.icon-lock {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23000000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26' width='26px' height='26px'%3E%3Cpath d='M 16 0 C 13.789063 0 11.878906 0.917969 10.6875 2.40625 C 9.496094 3.894531 9 5.824219 9 7.90625 L 9 9 L 12 9 L 12 7.90625 C 12 6.328125 12.390625 5.085938 13.03125 4.28125 C 13.671875 3.476563 14.542969 3 16 3 C 17.460938 3 18.328125 3.449219 18.96875 4.25 C 19.609375 5.050781 20 6.308594 20 7.90625 L 20 9 L 23 9 L 23 7.90625 C 23 5.8125 22.472656 3.863281 21.28125 2.375 C 20.089844 0.886719 18.207031 0 16 0 Z M 9 10 C 7.34375 10 6 11.34375 6 13 L 6 23 C 6 24.65625 7.34375 26 9 26 L 23 26 C 24.65625 26 26 24.65625 26 23 L 26 13 C 26 11.34375 24.65625 10 23 10 Z M 16 15 C 17.105469 15 18 15.894531 18 17 C 18 17.738281 17.597656 18.371094 17 18.71875 L 17 21 C 17 21.550781 16.550781 22 16 22 C 15.449219 22 15 21.550781 15 21 L 15 18.71875 C 14.402344 18.371094 14 17.738281 14 17 C 14 15.894531 14.894531 15 16 15 Z'/%3E%3C/svg%3E");
}


#unplannedContainer {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    z-index: 4;
    
}

#schedulerWrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-grow: 1;
}

#filterInput {
   position: absolute;
    z-index: 5;
    top: 9px;
    right: 43px;
    height: 35px;
    width: 234px;
    border: solid 1px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    font-size: 18px;
    padding-left: 8px;
    &:focus-visible{
        outline-color: #ff7e00;
    }
}